<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Innoclass</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <h1>Приветствуем Вас в Innoclass!</h1>
            <div class="button-logout">
            <a href="{% url 'logout' %}"><button class="button_logout">Выйти</button></a>
            </div>
</head>
<body>
<div class="header">
    <img width="180px" src="{% static 'logo-asyaLab.png' %}">
</div>
<div class="container">
     {% for curces in curces %}
    <div class="cource-index">
        <img width="300px" height="200px" src="{{curces.image}}" alt=""><br>
        <a class="title-cource" href="{% url 'courswThis' curces.id %}"> {{curces.title}}<br></a>
        {{curces.description}}<br>
        {{curces.start_date}}<br>
        {{curces.end_date}}<br>
    </div>
        {% endfor %}
</div>
<br>

</body>
</html>